# Virtual Envirionment for CPU
.venv

# pycache
**/__pycache__/**

# IPython
**/.ipynb_checkpoints/**

# vscode
.vscode

# data
!data/
data/*
!data/temp.txt

# saved
!saved/losses/
saved/losses/*
!saved/losses/temp.txt

!saved/weights/
saved/weights/*
!saved/weights/temp.txt
