# Virtual Envirionment for CPU
.venv

# pycache
**/__pycache__/**

# IPython
**/.ipynb_checkpoints/**

# vscode
.vscode

# data
data/PTB-XL
data/PTB-XL_500
data/PTB-XL.zip
data/PTB-XL_500.zip
data/ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3.zip

# saved
saved/losses/
!saved/losses/temp.txt
saved/weights/
!saved/weights/temp.txt
