# Virtual Envirionment for CPU
.venv

# pycache
**/__pycache__/**

# IPython
**/.ipynb_checkpoints/**

# vscode
.vscode

# data
data/ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.3.zip
data/PTB-XL/
data/PTB-XL.zip

# saved
saved/losses/
saved/weights/
